---

---
html,body{
	 height: 100%;
}
body {
	  font:14px Helvetica,Arial,Sans-serif;
	  overflow-x: hidden;
}

a { color:#4f4f4f;
	text-decoration:none;
}
img {border:none;}

header,article{
  display: inline;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal;
}

@media (max-width: 960px) {
  article {
    display: inline;
  }
}

header {
  position: relative;
  float:left;
  width: 35%;
  background-image: url({{site.baseurl}}/img/cat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 960px) {
  header {
    width: 100%;
  }
  header {
    height: 50%;
  }
}

article {
  width: 65%;
  overflow-x: hidden;
  float:right;
}

@media (max-width: 960px) {
  article {
    width: 100%;
    overflow: visible;
  }
}

#navigation {position:relative;bottom:6px;}
#navigation ul { margin:0;padding:0;list-style-type: none;}
#navigation ul li { display:inline;margin-right:3px;}
#navigation ul li a { background:#fbe49b;text-decoration:none;padding:10px 10px 6px 10px;text-transform:uppercase;}
#navigation ul li current_page_item a,#navigation ul li a:hover{ color :#3f312e;border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #fff;background:white;}

.current {font-weight:bold;font-size:16px;background-color:white;}


#footer { width:960px;margin:0 auto;text-align: center;}
#footer p {font-weight:bold;}
#footer ul {margin:15px 0 0 0;padding:0;list-style-type: none;} 
.nav-footer > li {display:inline;margin-right:5px;}
.nav-footer > li a {text-transform:uppercase;text-decoration: none;}
.nav-footer > li a:hover  {text-decoration: underline; }


.post-list{
    display: block;
    
}
.post-list li{
	list-style-type:none;
	list-style-position: inside;
}
.post-title {
    display: inline-block;
    max-width: 75%;
    color: #272822;
    
}