{% include header.html %}

<div id="navigation">	
	<ul>
		<li><a href='{{site.baseurl}}/' class="{% if page.url == '/' %}current{% endif %}">home</a></li>
		
		<li><a href='{{site.baseurl}}/python.html'  class="{% if page.url == '/python.html' %}current{% endif %}">python</a></li>
		<li><a href='{{site.baseurl}}/excel.html'  class="{% if page.url contains 'excel' or page.url contains 'recently-written' %}current{% endif %}">excel</a></li>
		<li><a href='{{site.baseurl}}/film.html'  class="{% if page.url contains 'film' %}current{% endif %}">film</a></li>
		
	</ul>
</div>
<div id="container">
<div id="content">
{{content}}
{% include sidebar.html %}
</div><!--content-->
</div><!--container-->
{% include footer.html %}