   {% include header.html %}
	<header class="col-md-4" id="sidebar" style="background-image: url({{site.baseurl}}/img/cat.jpg);">
	</header>


	<article class="col-md-8" >
		
		<div class="postright">
  		<a href=''><img src='{{site.baseurl}}/img/logo.png' class="img-responsive" alt='logo'/></a>

  		<div id="navigation">	
		<ul>

		<li><a href='{{site.baseurl}}/' class="{% if page.url == '/' %}current{% endif %}">home</a></li>
		
		<li><a href='{{site.baseurl}}/js.html'  class="{% if page.url contains 'js' or page.url contains 'recently-written' %}current{% endif %}">programme</a></li>
		<li><a href='{{site.baseurl}}/film.html'  class="{% if page.url contains 'film' %}current{% endif %}">film</a></li>
		
		</ul>
		</div>
  		{{content}}
  		</div>
  	 {% include footer.html %}
	 </article>
	
<script>
function preloader(){
			var i =0;
			var imgObj = new Image();
			var images = new Array();
			images[0] = "{{site.baseurl}}/img/wish.jpg";
			images[1] = "{{site.baseurl}}/img/jelly.jpg";
			images[2] = "{{site.baseurl}}/img/bear.JPG";
			images[3] = "{{site.baseurl}}/img/beach.JPG";
			images[4] = "{{site.baseurl}}/img/cat.jpg";

			for(i = 0; i < images.length; i++){
				imgObj.onload = console.log("loaded");
				imgObj.src = images[i];
			}
		};
preloader();
var now = new Date();
var sec = now.getSeconds();
var postLink = document.getElementsByClassName("post")[0].getElementsByTagName("a");
var navLink = document.getElementById("navigation").getElementsByTagName("a");
switch(sec % 7){
	case 1: document.getElementsByTagName("header")[0].setAttribute("style","background-image: url({{site.baseurl}}/img/wish.jpg);");
	for(var i = 0; i < postLink.length; i++){
		postLink[i].setAttribute("style","color: #000000;")
	}
	for(var i = 0; i < navLink.length; i++){
		navLink[i].setAttribute("style","background: #000000;")
	}
	break;

	case 2: document.getElementsByTagName("header")[0].setAttribute("style","background-image: url({{site.baseurl}}/img/jelly.jpg);");
	for(var i = 0; i < postLink.length; i++){
		postLink[i].setAttribute("style","color: #286090;")
	}
	for(var i = 0; i < navLink.length; i++){
		navLink[i].setAttribute("style","background: #286090;")
	}
	break;

	case 3:document.getElementsByTagName("header")[0].setAttribute("style","background-image: url({{site.baseurl}}/img/bear.JPG);");
	for(var i = 0; i < postLink.length; i++){
		postLink[i].setAttribute("style","color: #cf8f5b;")
	}
	for(var i = 0; i < navLink.length; i++){
		navLink[i].setAttribute("style","background: #cf8f5b;")
	}
	break;

	case 4:document.getElementsByTagName("header")[0].setAttribute("style","background-image: url({{site.baseurl}}/img/beach.JPG);");
	for(var i = 0; i < postLink.length; i++){
		postLink[i].setAttribute("style","color: #839dac;")
	}
	for(var i = 0; i < navLink.length; i++){
		navLink[i].setAttribute("style","background: #839dac;")
	}
	break;

	default:document.getElementsByTagName("header")[0].setAttribute("style","background-image: url({{site.baseurl}}/img/cat.jpg);");
	for(var i = 0; i < postLink.length; i++){
		postLink[i].setAttribute("style","color: #a94442;")
	}
	for(var i = 0; i < navLink.length; i++){
		navLink[i].setAttribute("style","background: #a94442;")
	}
	break;
}

</script>	





